html {
    background-color: #ffffff;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 0px solid #ffffff;
  }

  p {
    display: block;
    margin: 0 auto;
  }
  
  .flex{
    display:flex;
    align-items:center;
    justify-content:center;
    width:600px;
    height:600px;
    background-color: #ffffff;
  }
