
td {
    font-family: 'Crimson Text', 'Noto Sans TC', sans-serif, serif;
    color:#818181;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration:none;
    color: #a0a0a0;

}

a:hover {
    text-decoration:none;
    color: #888888;
}