body {
    margin-top: 40px;
    margin-left: 50px;
}

h1{
    font-family: 'Crimson Text', 'Noto Sans TC', sans-serif, serif;
    color:#422413;
    text-align: center;
    height: 40px;
}

a {
    text-decoration:none;
    color: #a0a0a0;

}

a:hover {
    text-decoration:none;
    color: #888888;
}