body {
    background-image:url("../../photos/back.png");
    background-repeat:no-repeat;
    background-size: 1500px;
    background-position: center;
    color: white;
    margin-top: 40px;
    margin-left: 50px;
    
}

table {
    width: 80vw;
    margin: center;
}

.name {
    font-family: 'Crimson Text', 'Noto Sans TC', sans-serif, serif;
    text-emphasis-color:#757575;
    text-align: left;
}

.photo {
    margin: left;
}

a {
    text-decoration:none;
    color: #a0a0a0;

}

a:hover {
    text-decoration:none;
    color: #255d74;
}