body {
    background-image:url("../../../photos/cafe/dreamers/noname.png");
    background-repeat:no-repeat;
    background-size: 750px;
    background-position: top right;
    color: white;
    
}

h1{
    font-family: 'Crimson Text', 'Noto Sans TC', sans-serif, serif;
    color:#205574;
    text-align: center;
    height: 40px;
}

h3 {
    font-family: 'Crimson Text','Noto Sans TC', sans-serif, serif;
    color: #585858;
}

.text1 {
    font-family: 'Crimson Text','Noto Sans TC', sans-serif, serif;
    color: #797979;
}

td {
    width: 400px;
    padding: 20px;
    text-align: left;
    vertical-align: top;
    
}

